.login
  .loginBox
    .loginBoxTitle
      Log in
    = form_with model: @user, url: user_session_path, id: 'new_user', class: 'loginBoxChart', local: true do |f|
      .loginBoxChartField
        = f.label :email, class: "loginBoxChartFieldCalum"
        %br/
        = f.email_field :email, autofocus: true, class: "loginBoxChartFieldForm"
      .loginBoxChartField
        = f.label :password, class: "loginBoxChartFieldCalum"
        %br/
        = f.password_field :password, autocomplete: "off", class: "loginBoxChartFieldForm"
      - if devise_mapping.rememberable?
        .loginBoxChartField
          = f.label :remember_me, class: "loginBoxChartFieldCalum"
          %br/
          = f.check_box :remember_me, class: "checkbox"
      .actions
        = f.submit "Log in", class: "SignSubmitAreaBtn"
