.myPage
  .myPageBox
    .myPageBoxTitle
      MyPage
    .myPageBoxStatus
      .myPageBoxStatusName
        = @otherUser.nickname
      .myPageBoxStatusImage
        - if @otherUser.image.present?
          = image_tag @otherUser.image.url, class: "myPageBoxStatusImageSrc"
        - else
          = image_tag "丸枠付きのカメラのアイコン素材 2.jpeg", class: "myPageBoxStatusImageSrc"
      - if @otherUser.items.present?
        .myPageBoxStatusItem
          .myPageBoxStatusItemTitle
            = "#{@otherUser.nickname}さんのアイテム"
          .myPageBoxStatusItemChart
            - @otherUseritems.each do |item|
              = link_to item_path(item.id) do
                = image_tag item.images.first.src.url, class: "myPageBoxStatusItemChartImage"
      -else