= form_with(model:@item,local:true) do |f|
  = f.text_field :name
  #image-box
    = f.fields_for :images do |image|
      .js-file_group{"data-index" => "#{image.index}"}
        =image.file_field :src, class: 'js-file'
      %span.js-remove 削除
  = f.submit