= form_with(model:@item,local:true) do |f|
  .itemNewBoxField
    .itemNewBoxFieldCalum
      アイテム名
    %span.listing-default--require
      ※必須
    = f.text_field :name, class:"itemNewBoxFieldForm"
  .itemNewBoxField
    .itemNewBoxFieldCalum
      アイテム紹介
    %span.listing-default--require
      ※任意
    = f.text_area :status, class:"itemNewBoxFieldArea"
  .itemNewBoxField
    .itemNewBoxFieldCalum
      ブランド
    %span.listing-default--require
      ※任意
    = f.text_field :brand, class:"itemNewBoxFieldForm"
  .itemNewBoxField
    .itemNewBoxFieldCalum
      季節
    %span.listing-default--require
      ※ランダム選択する場合は必ずチェック入れてください（複数可）
      .itemNewBoxFieldCheck
        = f.check_box :spring_id, {id:'box1'} , 1, nil
        %label{:for => "box1"} 春服
        = f.check_box :summer_id, {id:'box2'} , 1, nil
        %label{:for => "box2"} 夏服
        = f.check_box :autumn_id, {id:'box3'} , 1, nil
        %label{:for => "box3"} 秋服
        = f.check_box :winter_id, {id:'box4'} , 1, nil
        %label{:for => "box4"} 冬服
  .newImageTitle
    アイテム画像
  %span.listing-default--require
    ※必須（複数可）
  #image-box
    #imagePre
      -if @item.persisted?
        - @item.images.each_with_index do |image, i|
          = image_tag image.src.to_s, data: { index: i }, class: 'smallImage', width: "300", height: '300'
    .newImageBox
      = f.fields_for :images do |image| 
        .newImageBoxGroup{"data-index" => "#{image.index}"}
          =image.file_field :src, class: 'newImageBoxGroupForm'
          %span.newImageBoxGroupRemove 削除
        - if @item.persisted?
          = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
      - if @item.persisted?
        .newImageBoxGroup{"data-index" => "#{@item.images.count}"}
          = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'newImageBoxGroupForm'
          .newImageBoxGroupRemove 削除
  -if controller_name == "items" && action_name == "new"
    .newImageTitle
      カテゴリー
    .CategoryBox
      .CategoryBoxField
        = f.label 'カテゴリー', class: 'listing-default__label'
        %span.listing-default--require 必須
        .listing-select-wrapper
          .listing-select-wrapper__box
            = f.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
    = f.submit class: "newItemSubmit", value: "New Item Create"
  -if controller_name == "items" && action_name == "edit"
    .newImageTitle
      Category
    .CategoryBox
      .CategoryBoxField
        = f.select :parent_name, @category_parent_array, {selected:@item.category.parent.parent.name}, { class: 'listing-select-wrapper__box--select', id: 'parent_category'}
      #children_wrapper.listing-select-wrapper__added
        .listing-select-wrapper__box
          = f.select :child_id, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{}, {class: 'listing-select-wrapper__box--select', id: 'child_category', name: "category_id"}
      #grandchildren_wrapper.listing-select-wrapper__added
        .listing-select-wrapper__box
          = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{}, {class: 'listing-select-wrapper__box--select', id: 'grandchild_category', name: "category_id"}
      = f.submit class: "newItemSubmit", value: "New Item Create"