.indexContent
  .indexContentImage
- if @itemsuser.present?
  .indexUser
    .indexUserTitle
      = link_to user_path(current_user.id) do
        .indexUserTitleText
          Your Item Chart
      = link_to user_path(current_user.id) do
        .indexUserTitleBtn
          →
    .indexUserItem
      -@useritems.each do |item|
        = link_to item_path(item.id) do
          =image_tag item.images.first.src.url, class: "indexUserItemImage"
- if @items.present?
  .indexNew
    .indexNewTitle
      =link_to allitem_items_path do
        .indexNewTitleText
          New Item Chart
      =link_to allitem_items_path do
        .indexNewTitleBtn
          →
    .indexNewItem
      -@items.each do |item|
        = link_to item_path(item.id) do
          =image_tag item.images.first.src.url, class: "indexNewItemImage"
= javascript_include_tag 'modal.js'