.itemShow
  .itemShowBox
    -if current_user_has?(@item)
    -else
      .itemShowBoxUser
        .itemShowBoxUserOwner
          Item Owner
        =link_to userpage_user_path(@item.user_id) do
          .itemShowBoxUserName
            =@item.user.nickname
          .itemShowBoxUserName
            =image_tag @item.user.image.url, class:"iconImageSmall"
    .itemShowBoxTitle
      = @item.name
    .itemShowBoxImage
      -if @item.images.length >= 2
        %i.fas.fa-arrow-circle-right
      -@item.images.each do |image|
        =image_tag image.src.url,class: "itemShowBoxImageSrc"
    - if @item.brand.present?
      .itemShowBoxCategory
        .itemShowBoxCategoryTitle
          ブランド
        .itemShowBoxCategoryName
          = @item.brand
    - if @item.status.present?
      .itemShowBoxCategory
        .itemShowBoxCategoryTitle
          アイテム紹介
        .itemShowBoxCategoryName
          = @item.status
    .itemShowBoxCategory
      .itemShowBoxCategoryTitle
        カテゴリー
      .itemShowBoxCategoryName
        = @item.category.parent.parent.name
      .itemShowBoxCategoryName
        = @item.category.parent.name
      .itemShowBoxCategoryName
        = @item.category.name
