.itemShow
  .itemShowBox
    -if user_signed_in? && @item.user.id == current_user.id
    -else
      .itemShowBoxUser
        .itemShowBoxUserOwner
          Item Owner
        .itemShowBoxUserName
          =@item.user.nickname
        .itemShowBoxUserName
          =image_tag @item.user.image.url, class:"iconImageSmall"
    .itemShowBoxTitle
      = @item.name
    .itemShowBoxImage
      -if @item.images.length >= 2
        %i.fas.fa-arrow-circle-right
      -@item.images.each do |image|
        =image_tag image.src.to_s,class: "itemShowBoxImageSrc"
    - if @item.brand.present?
      .itemShowBoxCategory
        .itemShowBoxCategoryTitle
          ブランド
        .itemShowBoxCategoryName
          = @item.brand
    - if @item.status.present?
      .itemShowBoxCategory
        .itemShowBoxCategoryTitle
          アイテム紹介
        .itemShowBoxCategoryName
          = @item.status
    .itemShowBoxCategory
      .itemShowBoxCategoryTitle
        カテゴリー
      .itemShowBoxCategoryName
        = @item.category.parent.parent.name
      .itemShowBoxCategoryName
        = @item.category.parent.name
      .itemShowBoxCategoryName
        = @item.category.name
