!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChoiceItem
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .headerLeft
        = link_to "Category", category_item_path('category_id'), class:"headerLeftMenu"
        - if controller.controller_name == 'items' && controller.action_name == 'index'
          = link_to "Random", "#", class:"headerLeftMenu", id: 'modalOpenBtn'
          = link_to "", root_path(@item), id: 'itemRandomBtn'
          #overlay
            #modalWindow
              .indexRandomItem
                - if @itemsuser.present?
                  -@random.each do |item|
                    =image_tag item.images.first.src.to_s,class: "indexRandomItemImage"
                - else
                  まだ投稿はありません
              %button#modalCloseBtn OK
              %button#randomReturnBtn 選び直す     
        = link_to "New Item", new_item_path, class:"headerLeftMenu"
      =link_to "Choice Item", "/", class:"headerCenter"
      .headerRight
        %ul#menu
          %li
            %a{:href => "#",class:"fas fa-angle-double-down"} 
            %ul
              -if controller.controller_name == 'items' && controller.action_name == 'show' && current_user.id == @item.user_id
                %li
                  %a{:href => edit_item_path(@item.id), class: "logoutBtn"} Edit
                %li
                  =link_to "Delete","/items/#{@item.id}", method: :delete, class: "MyPageBtn"
              -elsif controller.controller_name == 'users' && controller.action_name == 'show' && current_user.id == @user.id
                %li
                  %a{:href => destroy_user_session_path, method: :delete, class: "logoutBtn"} Log Out
                %li
                  %a{:href => user_path(current_user.id),class: "MyPageBtn"} My Page
                %li
                  =link_to "User Edit",edit_user_registration_path(current_user.id),class: "MyPageBtn"
              - elsif user_signed_in?
                %li
                  %a{:href => destroy_user_session_path, method: :delete, class: "logoutBtn"} Log Out
                %li
                  %a{:href => user_path(current_user.id),class: "MyPageBtn"} My Page
              - else
                %li
                  %a{:href => new_user_registration_path, class: "signUpBtn"} Sign up
                %li
                  %a{:href => user_session_path, class: "logInBtn"} Login
    = yield
    .footer
