!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChoiceItem
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .headerLeft
        = link_to "New Item", new_item_path, class:"headerLeftMenu"
        - if controller.controller_name == 'items' && controller.action_name == 'index'
          %ul#menu
            %li
              = link_to "Random", "#", class:"headerLeftMenu"
              = link_to "", root_path(@item), id: 'itemRandomBtn'
              %ul
                %li
                  %a{:href => "#", class: "logoutBtn", id: 'modalOpenBtn1'} Spring Choice
                %li
                  %a{:href => "#", class: "MyPageBtn", id: 'modalOpenBtn2'} Summer Choice
                %li
                  %a{:href => "#", class: "logoutBtn", id: 'modalOpenBtn3'} Autumn Choice
                %li
                  %a{:href => "#", class: "MyPageBtn", id: 'modalOpenBtn4'} Winter Choice
                #overlay1
                  #modalWindow
                    .indexRandomItem
                      - if @itemsuser.present? && @random_spring.present?
                        -@random_spring.each do |item|
                          =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                      - else
                        春服の投稿はまだありません
                    -# %button#modalCloseBtn OK
                    %button#randomReturnBtn1 OK   
                #overlay2
                  #modalWindow
                    .indexRandomItem
                      - if @itemsuser.present? && @random_summer.present?
                        -@random_summer.each do |item|
                          =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                      - else
                        夏服の投稿はまだありません
                    -# %button#modalCloseBtn OK
                    %button#randomReturnBtn2 OK    
                #overlay3
                  #modalWindow
                    .indexRandomItem
                      - if @itemsuser.present? && @random_autumn.present?
                        -@random_autumn.each do |item|
                          =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                      - else
                        秋服の投稿はまだありません
                    -# %button#modalCloseBtn OK
                    %button#randomReturnBtn3 OK   
                #overlay4
                  #modalWindow
                    .indexRandomItem
                      - if @itemsuser.present? && @random_winter.present?
                        -@random_winter.each do |item|
                          =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                      - else
                        冬服の投稿はまだありません
                    -# %button#modalCloseBtn OK
                    %button#randomReturnBtn4 OK    
      =link_to "Choice Item", "/", class:"headerCenter"
      .headerRight
        %ul#menu
          %li
            - if user_signed_in? && @user.image.present?
              =link_to "#" do
                =image_tag @user.image.icon.url, class:"iconImageSmall"
            -else
              %a{:href => "#",class:"fas fa-angle-double-down"} 
            %ul
              -if user_signed_in? && controller.controller_name == 'items' && controller.action_name == 'show' && current_user.id == @item.user_id
                %li
                  %a{:href => edit_item_path(@item.id), class: "logoutBtn"} Edit
                %li
                  =link_to "Delete","/items/#{@item.id}", method: :delete, class: "MyPageBtn"
              -elsif controller.controller_name == 'users' && controller.action_name == 'show' && current_user.id == @user.id
                %li
                  %a{:href => destroy_user_session_path, method: :delete, class: "logoutBtn"} Log Out
                %li
                  %a{:href => user_path(current_user.id),class: "MyPageBtn"} My Page
                %li
                  =link_to "User Edit",edit_user_registration_path(current_user.id),class: "MyPageBtn"
              - elsif user_signed_in?
                %li
                  %a{:href => destroy_user_session_path, method: :delete, class: "logoutBtn"} Log Out
                %li
                  %a{:href => user_path(current_user.id),class: "MyPageBtn"} My Page
              - else
                %li
                  %a{:href => new_user_registration_path, class: "signUpBtn"} Sign up
                %li
                  %a{:href => user_session_path, class: "logInBtn"} Login
    = yield
    .footer
      .footerBox
        .footerBoxName
          作成者 : 近藤 真史（TECH::CAMP 71期卒）
          .footerBoxNameText
            エンジニア用Twitter アカウント : @konchan_exbaka
          .footerBoxNameText
            GitHub URL : https://github.com/Masafumi24
        =image_tag ('IMG_3475.jpeg'), class:"footerBoxImage"
        .footerBoxProfile
          .footerBoxProfileText
            アプリケーションの利用本当にありがとうございます。
          .footerBoxProfileText
            このアプリはプログラミングの学習のため + 毎日の服選びを少しでも楽にと考え作成いたしました。
          .footerBoxProfileText
            プログラミングを2020/2月から始めた者の個人アプリです。
          .footerBoxProfileText
            画面右上のボタンから新規登録を行っていただき（メールアドレスは適当で構いません）
          .footerBoxProfileText
            早速自身の服、ファッションアイテムを左上の「New Item」ボタンからご登録ください。
          .footerBoxProfileText
            そうするとあなたの投稿がトップページに反映されます。
          .footerBoxProfileText
            春服、夏服、秋服、冬服とそれぞれ投稿していただいていれば画面左上の「Random」ボタンにて
          .footerBoxProfileText
            服のランダムチョイスが行えます。
          .footerBoxProfileTextBottom
            忙しい毎日に少しでも遊び心を。素人の作品ですがお楽しみいただけると幸いです。
          .footerBoxProfileText
            今後の実装
          .footerBoxProfileText
            ・コーディネートも投稿できるようにする
          .footerBoxProfileText
            ・検索機能の実装
          .footerBoxProfileText
            ・ユーザーマイページをオープンに
