!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    %title ChoiceItem
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .headerLeft
        %i.fas.fa-bars
        .headerLeftList
          = link_to "アイテム投稿",new_item_path, class:"headerLeftListBtn"
          - if controller.controller_name == 'items' && controller.action_name == 'index'
            .headerLeftListRandomBtn
              ランダムチョイス
              = link_to "", root_path(@item), id: 'itemRandomBtn' 
              .headerLeftListBtnRandom
                =link_to "春服チョイス", "#", id:'modalOpenBtn1', class:"headerLeftListBtnRandomChoice"
                =link_to "夏服チョイス", "#", id:'modalOpenBtn2', class:"headerLeftListBtnRandomChoice"
                =link_to "秋服チョイス", "#", id:'modalOpenBtn3', class:"headerLeftListBtnRandomChoice"
                =link_to "冬服チョイス", "#", id:'modalOpenBtn4', class:"headerLeftListBtnRandomChoice"
          = link_to "検索", search_items_path, class:"headerLeftListBtn"
          #overlay1
            #modalWindow
              .indexRandomItem
                - if @itemsuser.present? && @random_spring.present?
                  -@random_spring.each do |item|
                    =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                - else
                  春服の投稿はまだありません
              -# %button#modalCloseBtn OK
              %button#randomReturnBtn1 OK  
          #overlay2
            #modalWindow
              .indexRandomItem
                - if @itemsuser.present? && @random_summer.present?
                  -@random_summer.each do |item|
                    =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                - else
                  夏服の投稿はまだありません
              -# %button#modalCloseBtn OK
              %button#randomReturnBtn2 OK    
          #overlay3
            #modalWindow
              .indexRandomItem
                - if @itemsuser.present? && @random_autumn.present?
                  -@random_autumn.each do |item|
                    =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                - else
                  秋服の投稿はまだありません
              -# %button#modalCloseBtn OK
              %button#randomReturnBtn3 OK   
          #overlay4
            #modalWindow
              .indexRandomItem
                - if @itemsuser.present? && @random_winter.present?
                  -@random_winter.each do |item|
                    =image_tag item.images.first.src.url,class: "indexRandomItemImage"
                - else
                  冬服の投稿はまだありません
              -# %button#modalCloseBtn OK
              %button#randomReturnBtn4 OK                 
      =link_to "Choice Item", "/", class:"headerCenter"
      .headerRight
        - if user_signed_in? && @user.image.present?
          =image_tag @user.image.url, class:"iconImageSmall"
        - else
          %i.fas.fa-angle-double-down
        .headerRightList
          -if controller.controller_name == 'items' && controller.action_name == 'show' && current_user_has?(@item)
            = link_to "アイテム情報編集", edit_item_path(@item.id), class:"headerRightListBtn"
            = link_to "アイテム削除", "/items/#{@item.id}", method: :delete, class:"headerRightListBtn"
          - elsif user_signed_in? && controller.controller_name == 'users' && controller.action_name == 'show' && current_user.id == @otherUser.id
            = link_to "マイページ", user_path(current_user.id), class:"headerRightListBtn"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"headerRightListBtn"
            = link_to "ユーザー情報編集", edit_user_registration_path(current_user.id), class:"headerRightListBtn"
          - elsif user_signed_in?
            = link_to "マイページ", user_path(current_user.id), class:"headerRightListBtn"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"headerRightListBtn"
          - else
            = link_to "新規登録", new_user_registration_path, class:"headerRightListBtn"
            = link_to "ログイン", user_session_path, class:"headerRightListBtn"
    = yield
    .footer
      .footerBox
        %br 作成者 : 近藤 真史（TECH::CAMP 71期卒）
        %br エンジニア用Twitter アカウント : @konchan_exbaka
        %br GitHub URL : https://github.com/Masafumi24
        =image_tag ('IMG_3475.jpeg'), class:"footerBoxImage"
        .footerBoxProfile
          %br アプリケーションの利用本当にありがとうございます。
          %br このアプリはプログラミングの学習のため + 毎日の服選びを少しでも楽にと考え作成いたしました。
          %br プログラミングを2020/2月から始めた者の個人アプリです。
          %br 画面右上のボタンから新規登録を行っていただき（メールアドレスは適当で構いません）
          %br 早速自身の服、ファッションアイテムを左上の「New Item」ボタンからご登録ください。
          %br そうするとあなたの投稿がトップページに反映されます。
          %br 春服、夏服、秋服、冬服とそれぞれ投稿していただいていれば画面左上の「Random」ボタンにて
          %br 服のランダムチョイスが行えます。
          %br 忙しい毎日に少しでも遊び心を。素人の作品ですがお楽しみいただけると幸いです。
          %br
          %br ・・・・・・・・・・・・・・・・・・・・
          %br
          %br 今後の実装
          %br・コーディネートも投稿できるようにする
          %br◎検索機能の実装（5月7日実装）
          %br◎ユーザーマイページをオープンに（5月4日実装）
